section .first img{
    padding: 10px;
    color: white;
    font-size: 20px;
    overflow: auto;

}
section{
    display: flex;
    justify-content: space-between;
}
section .first img {
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2px;
   
}
section{
    display: flex;
    justify-content: space-between;
}

section .acc img {
    width: 300px;
    justify-content: space-between;
    padding: 1px;


}